@model IEnumerable<Depot.App.ViewModels.EstoqueViewModel>

@{
    ViewData["Title"] = "Lista de Estoques";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Adicionar</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regiao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>

                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
            </td>
        </tr>
}
    </tbody>
</table>
