@model Depot.App.ViewModels.HistoricoViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HistoricoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorizadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorizadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetiranteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetiranteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositanteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositanteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
