@model Depot.App.ViewModels.HistoricoViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoricoViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutorizadorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutorizadorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetiranteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetiranteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositanteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositanteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colaborador)
        </dt>
    
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
